name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: "The github environment to deploy against."

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  build-lambda-package:
    name: Build Lambda Deployment Package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Run build script
      run: ./create_lambda_package.sh
      shell: bash
    - name: Upload Lambda Deployment Package
      uses: actions/upload-artifact@v5
      with:
        name: lambda_build
        path: apple_utils.zip

  terraform-deploy:
    name: Deploy Terraform to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    needs: [build-lambda-package]
    environment: ${{ inputs.environment }}

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v5

    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v6
      with:
        path: ./terraform

    # Configure AWS Creds
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/GitHubActionsDeploymentRole-${{ vars.REGION }}-${{ vars.ACCOUNT_ID }}
        role-session-name: terraform-deployment-${{ vars.REGION }}-${{ vars.ACCOUNT_ID }}
        aws-region: ${{ vars.REGION }}

    # Install the latest version of Terraform CLI
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      id: init
      run: terraform init -backend-config=backend.$GITHUB_REF_NAME.conf
      continue-on-error: false

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      id: fmt
      run: terraform fmt -check
      continue-on-error: false

    - name: Terraform Validate
      id: validate
      run: terraform validate -no-color
      continue-on-error: false

      # On push to "main", build or change infrastructure according to Terraform configuration files
    - name: Terraform Apply
      id: apply
      run: terraform apply -var-file=$GITHUB_REF_NAME.tfvars --auto-approve -input=false